.text-container {
  // height: 223px;
  margin: 20px 30px 15px 20px;

  .title {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .description {
    margin-bottom: 20px;
    line-height: 130%;

    span {
      font-size: 20px;
    }
  }

  .pick {
    font-size: 20px;
    font-weight: bold;
  }
}
