// @keyframes gradient {
//   0% {
//     background: radial-gradient(
//       50% 50% at 50% 50%,
//       #469bff 38.02%,
//       rgba(255, 255, 255, 0) 100%
//     );
//   }
//
//   100% {
//     background: radial-gradient(
//       50% 50% at 50% 50%,
//       #469bff 92.71%,
//       rgba(255, 255, 255, 0) 100%
//     );
//   }
// }

.loader-container {
  width: 270px;
  height: 270px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    animation: gradient 2s;
  }

  div {
    // position: relative;
    height: 250px;
    width: 250px;
    background-size: cover;
  }

  .Polygon-1 {
    background-image: url("../../assets/Polygon 1.svg");
  }

  .Polygon-2 {
    background-image: url("../../assets/Polygon 2.svg");
  }

  .Polygon-3 {
    background-image: url("../../assets/Polygon 3.svg");
  }

  .Polygon-4 {
    background-image: url("../../assets/Polygon 4.svg");
  }

  .Polygon-5 {
    background-image: url("../../assets/Polygon 5.svg");
  }

  .Polygon-6 {
    background-image: url("../../assets/Polygon 6.svg");
  }

  .Polygon-7 {
    background-image: url("../../assets/Polygon 7.svg");
  }

  .Polygon-8 {
    background-image: url("../../assets/Polygon 8.svg");
  }

  .Polygon-9 {
    background-image: url("../../assets/Polygon 9.svg");
  }

  .Polygon-10 {
    background-image: url("../../assets/Polygon 10.svg");
  }

  .Polygon-11 {
    background-image: url("../../assets/Polygon 11.svg");
  }

  .Polygon-12 {
    background-image: url("../../assets/Polygon 12.svg");
  }

  .Polygon-13 {
    background-image: url("../../assets/Polygon 13.svg");
  }

  .Polygon-14 {
    background-image: url("../../assets/Polygon 14.svg");
  }

  .Polygon-15 {
    background-image: url("../../assets/Polygon 15.svg");
  }

  .Polygon-16 {
    background-image: url("../../assets/Polygon 16.svg");
  }

  .Polygon-17 {
    background-image: url("../../assets/Polygon 17.svg");
  }

  .Polygon-18 {
    background-image: url("../../assets/Polygon 18.svg");
  }

  .Polygon-19 {
    background-image: url("../../assets/Polygon 19.svg");
  }

  .Polygon-20 {
    background-image: url("../../assets/Polygon 20.svg");
  }

  .Polygon-21 {
    background-image: url("../../assets/Polygon 21.svg");
  }

  .Polygon-22 {
    background-image: url("../../assets/Polygon 22.svg");
  }

  .Polygon-23 {
    background-image: url("../../assets/Polygon 23.svg");
  }

  .Polygon-24 {
    background-image: url("../../assets/Polygon 24.svg");
  }

  .Polygon-25 {
    background-image: url("../../assets/Polygon 25.svg");
  }

  .Polygon-26 {
    background-image: url("../../assets/Polygon 26.svg");
  }

  .Polygon-27 {
    background-image: url("../../assets/Polygon 27.svg");
  }

  .Polygon-28 {
    background-image: url("../../assets/Polygon 28.svg");
  }
}
