.InfoContainer {
  position: absolute;
  z-index: 1000;
  bottom: 25px;
  right: 50px;
  width: 440px;
  height: 300px;
  border: 0.5px solid #000000;
  background-color: #fff;
  // background: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  font-size: 20px;
  // backdrop-filter: blur(5px);

  .controls-container {
    flex-direction: row-reverse;
  }

  .text-container {
    margin-left: 50px;
    margin-top: 35px;
    margin: 35px 50px 25px;

    .title {
      font-size: 3rem;
      font-weight: bold;
      // text-decoration: underline;
    }

    .text {
      margin-top: 15px;
      // font-size: 20px;

      span {
        font-size: 24px;
      }
    }

    .pick {
      margin-top: 70px;
      font-size: 24px;
      font-weight: bold;
    }
  }
}
