.MenuContainer {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 440px;
  background-color: inherit;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #000000;
  box-sizing: border-box;
  font-size: 20px;

  .title-container {
    margin-left: 50px;
    margin-top: 35px;
    margin: 35px 50px 25px;

    .title {
      font-size: 3rem;
      font-weight: bold;
      // text-decoration: underline;
    }

    .text {
      margin-top: 15px;
      // font-size: 20px;

      span {
        font-size: 24px;
      }
    }

    .pick {
      margin-top: 70px;
      font-size: 24px;
      font-weight: bold;
    }
  }
}
