.searchbar-container {
  .searchbar {
    height: 50px;

    input[type="text"] {
      font-family: "Times New Roman", serif;
      height: 100%;
      border: none;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      padding-left: 30px;
      font-size: 20px;
      transform: translate(0px, 0px);
      width: 80%;

      ::placeholder {
        color: rgba(0, 0, 0, 0.2);
      }

      &:focus {
        outline: none;
      }
    }

    input[type="submit"] {
      transform: translate(0px, -3px);
      width: 20%;
      background: #151515;
      height: 100%;
      color: #fff;
      border: none;
      border-left: 3px solid #000;
      padding: 0;
    }
  }

  ul {
    // border: 0.5px solid #ccc;
    // padding: 0 10px;
    margin-top: 10px;
    max-height: 400px;
    overflow: auto;
  }

  li {
    // margin: 10px 0;
    margin-right: 10px;
    padding: 10px;
    cursor: help;
    // border: 0.5px solid #656565;
    // border-radius: 20px;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: inset 5px 5px 0px rgba(0, 0, 0, 0.7);
      text-decoration: underline;
      background-color: #fff;
      // color: #fff;
      // background: radial-gradient(
      //   43.31% 50% at 50% 50%,
      //   #2d8dff 32.29%,
      //   rgba(255, 255, 255, 0) 100%
      // );
    }
  }
}
